In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from numpy import asarray

In [2]:
lc=pd.read_csv('qsar_fish_toxicity.csv',sep=";")

In [3]:
lc.head()

    3.26  0.829  1.676  0  1  1.453  3.770
0  2.189  0.580  0.863  0  0  1.348  3.115
1  2.125  0.638  0.831  0  0  1.348  3.531
2  3.027  0.331  1.472  1  0  1.807  3.510
3  2.094  0.827  0.860  0  0  1.886  5.390
4  3.222  0.331  2.177  0  0  0.706  1.819

In [4]:
lc.columns=['CIC0','SM1_Dz(Z)','GATS1i','NdsCH','NdssC','MLOGP','LC50']

In [5]:
lc.head()

    CIC0  SM1_Dz(Z)  GATS1i  NdsCH  NdssC  MLOGP   LC50
0  2.189      0.580   0.863      0      0  1.348  3.115
1  2.125      0.638   0.831      0      0  1.348  3.531
2  3.027      0.331   1.472      1      0  1.807  3.510
3  2.094      0.827   0.860      0      0  1.886  5.390
4  3.222      0.331   2.177      0      0  0.706  1.819

In [6]:
lc.size

6349

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(lc.drop('LC50',axis=1),lc['LC50'], test_size = 0.11, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((807, 6), (100, 6), (807,), (100,))

In [8]:
X_train=asarray(X_train)
X_test=asarray(X_test)
y_train=asarray(y_train)
y_test=asarray(y_test)

In [9]:
#X_train=StandardScaler(X_train)
#X_test=StandardScaler(X_test)
#y_train=StandardScaler(y_train)
#y_test=StandardScaler(y_test)

In [10]:

sr=SVR()
sr.fit(X_train,y_train)
print('Score: ',sr.score(X_train,y_train))
y_pred_lrtr=sr.predict(X_train)
y_pred_lrte=sr.predict(X_test)
from sklearn.metrics import r2_score
print('Train R2 score: ',r2_score(y_train,y_pred_lrtr))
print('Test R2 score: ',r2_score(y_test,y_pred_lrte))

Score:  0.6413889429912963
Train R2 score:  0.6413889429912963
Test R2 score:  0.6798292815325415

In [11]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
#scale=StandardScaler()
sr=SVR(kernel= 'rbf',gamma='auto',C=5,epsilon=0.1)
ppl=Pipeline(steps=[("m",sr)])
ppl.fit(X_train,y_train)
print('Score: ',ppl.score(X_train,y_train))
y_pred_lrtr=ppl.predict(X_train)
y_pred_lrte=ppl.predict(X_test)
from sklearn.metrics import r2_score
print('Train R2 score: ',r2_score(y_train,y_pred_lrtr))
print('Test R2 score: ',r2_score(y_test,y_pred_lrte))

Score:  0.7126895624096694
Train R2 score:  0.7126895624096694
Test R2 score:  0.7017458809715682

In [12]:
import pickle

In [13]:
with open('LC50_model.pkl', 'wb') as f:
    pickle.dump(ppl, f)

In [14]:
with open('LC50_model.pkl', 'rb') as f:
    ppl_loaded = pickle.load(f)

In [15]:
ppl_loaded

Pipeline(steps=[('m', SVR(C=5, gamma='auto'))])